{% extends "parent.html" %}


{% block body %}
    <form  method="post">
        <input type="text" placeholder="Enter Student Name" name="student_name">
        <input type="text" placeholder="Enter Student Number" name="student_number">
        <input type="submit">
    </form>
    <h2><a href="/admin_home">Admin Home</a></h2>
    
{% endblock %}
{% block back %}
    <style>
        body {
        background-image: url("https://i.pinimg.com/originals/bf/fe/ed/bffeedff5331ec32b734faeee26ff2fe.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        }
    </style>
{% endblock %}