{% extends "parent.html" %}

{% block body %}
    <h2>Edit Students</h2>
    <form action="/studentedit/{{student.student_id}}" method="post">
        <label>Username:</label>
        <input type="text" name="student_name" placeholder="Enter Student name" value="{{student.student_name}}">
        <label>Age:</label>
        <input type="text" name="student_number" placeholder="Enter Student number " value="{{student.student_number}}">
        <input type="submit" value="Update User">
    </form>
{% endblock %}
{% block back %}
    <style>
        body {
        background-image: url("https://i.pinimg.com/originals/bf/fe/ed/bffeedff5331ec32b734faeee26ff2fe.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        }
    </style>
{% endblock %}


